{{#each this}}
<li>
    <a href="" target="_blank" rel="noopener noreferrer">
      <article>
        <img src="{{largeImageURL}}" alt="" width="480">
        <h2></h2>
        <p>Posted by: {{user}}</p>
        <p>{{tags}}</p>
      </article>
    </a>
</li> 
{{/each}}